<!DOCTYPE html>
<html>

<head>
    <title>Mobiilikokoussovellus</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="cordova.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/appframework.ui.js"></script>
    <script src="xdk/init-dev.js"></script>
    <script scr="js/fastclick.js"></script>
    <script src="js/app.js"></script>
    <script src="js/eventcontroller.js"></script>

    </script>>
    <!-- <link href="css/af.ui.css" rel="stylesheet" /> -->
    <link href="css/af.ui.base.css" rel="stylesheet" />
    <link href="css/icons.css" rel="stylesheet" />
    <link href="css/project.css" rel="stylesheet" />

</head>

<body>
    <div class="view" id="loginView">
        <header><h1>Kirjautuminen</h1></header>
        <div class="pages">
            <div class="panel" title="login screen" id="login">
                <button onclick="partioLogin()">kirjaudu</button>
                <a href="#events">kirjaudu</a>
            </div>
        </div>
    </div>

    <div class="view" id="mainView">
        <header><h1>Tapahtumat</h1></header>
        <div class="pages">

            <div ng-app="af" ng-controller="EventController as ev">

                <div class="panel" title="All Events" id="events" data-tab="tab1" data-footer="none">
                    <ul class="list">
                      <li ng-repeat="x in ev.events track by $index"><a href="#details" ng-click="ev.getDetails($index)">{{ev.concat(x.event.name, ev.getDateTime(x))}}</a></li>
                    </ul>
                </div>

                <div class="panel" title="Event Details" id="details" >
                    <br>
                    <ul class="list inset">
                        <li>Nimi: <span style="float:right">{{ ev.event.event.name }}</span></li>
                        <li>Aika: <span style="float:right">{{ ev.getDateTime(ev.event) }}</span></li>
                        <li>Paikka: <span style="float:right">{{ ev.event.place }}</span></li>
                        <li>Kuvaus: <span style="float:right">{{ ev.event.event.description}}</span></li>
                        
                        <li> Aktiviteetit:
                            <ul class="list inset">
                                <li ng-repeat="a in ev.event.activities track by $index"><a href="#activityDetails" ng-click="ev.getActivity($index)">{{a.name}}</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                    
                </div>
                <div class="panel" title="Activity Details" id="activityDetails">
                    <ul class="list">
                        <li>Nimi: <span style="float:right">{{ ev.activity.title }}</span></li>
                        <li>Ryhmäkoko: <span style="float:right">{{ ev.activity.tags.ryhmakoko[0].name }}</span></li>
                        <li>Paikka: <span style="float:right">{{ ev.activity.tags.paikka[0].name }}</span></li>
                        <li>Taitoalueet: 
                            <ul>
                                <li ng-repeat="(tag, values) in ev.activity.tags">{{ tag }}<span style="float:right">{{ ev.getValueNames(values) }}</span></li>
                            </ul>
                    </ul>
                </div>
            </div>
    </div>
</div>
    <script>
        $(function() {
            FastClick.attach(document.body);
        });
    </script>
</body>

</html>
