<!DOCTYPE html>
<html>

    <head bacground: #253764;>
        <title>Mobiilikokoussovellus</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <script src="cordova.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/jquery-2.1.4.js"></script>
        <script src="js/appframework.ui.js"></script>
        <script src="xdk/init-dev.js"></script>
        <script scr="js/fastclick.js"></script>
        <script src="js/app.js"></script>
        <script src="js/eventcontroller.js"></script>

    </script>>
    <!-- <link href="css/af.ui.css" rel="stylesheet" /> -->
    <link href="css/af.ui.base.css" rel="stylesheet" />
    <link href="css/icons.css" rel="stylesheet" />
    <link href="css/project.css" rel="stylesheet" />

</head>

<body>

    <div class="view" id="loginView" bacground: #253764;>

        <header><h1>Kirjautuminen</h1></header>
        <div class="pages" bacground: #253764;>
            <div class="panel" title="Suomen Partio" id="login" style="background-color:#ffffff;">
                <h1>Kalenterisovellus</h1><br><br>
                                    <figure>
                        <img  class="center" src="images/partion_logo_web_gif.gif">
                    </figure> <br><br>

                <button class="button" style="color: white; background-color: blue" onclick="partioLogin()" >Kirjaudu partion ID:llä</button> <br><font size="5">Tai</font>  <br>
                <a href="#events">Tarkastele sovellusta (demo)</a>
               
            </div>
        </div>
    </div>
    
<div ng-app="af" ng-controller="EventController as ev">
    <div class="view" id="mainView">
        <header><h1>Tapahtumat</h1></header>
        <div class="pages">

            <div class="panel" title="Tapahtumat" id="events" data-tab="tab1" data-footer="none">
                <ul class="list">
                    <li ng-repeat="x in ev.events track by $index"><a href="#details" ng-click="ev.getDetails($index)"><font color="#ffffff">{{ev.concat(x.event.name, ev.getDateTime(x))}}</font></a></li>
                </ul>
            </div>

        <div class="panel" data-title="Merkit" id="badges">
            <div class="grid grid-photo">


                <li ng-repeat="x in ev.userActivities track by $index">
                    <div class="grid grid-photo">
                        <a href="#badgedetails" ng-click="ev.getBadge($index)">    
                            <figure>
                                <img src={{x.logo}} alt="">
                                <figcaption>
                                    <font size="1.5" color="#ffffff">
                                        {{x.name}}
                                    </font>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </li>

            </div>
        </div>

            <div class="panel" data-title="Merkin tiedot" id="badgedetails" style="background-color:#253764;">
                <div >
                    {{ ev.badge.id }}
                <br>
                <h2>{{ev.badge.title }}</h2>
                    <figure style="color: white; background-color:#253764;">
                        <img  class="center" src="{{ev.badge.logo}}" alt="Ei kuvaa">
                    </figure>
                <ul class="list inset"  style="background-color:#253764;">           
                    <li> <font size="1.5" color="#ffffff">Kuvaus: </font><br><br><span><font size="1.5" color="#ffffff">{{ ev.badge.content }}</font></span>
                    
                    </li><li style="background-color:#253764;">
<button class="button" style="color: white; background-color: blue" onclick="window.plugins.socialsharing.share(null, null, null, 'http://kokousbackendenv-env.elasticbeanstalk.com/activities/{{ev.badge.id}}')">Jaa</button>
                    </li>
                </div>
            </div>

        <div class="panel" title="Tapahtuman tiedot" id="details" >
            <br>
            <h2>{{ ev.event.event.name }}</h2>
            <ul class="list inset">
                <li><font color="#ffffff">Aika: </font><span style="float:right"><font color="#ffffff">{{ ev.getDateTime(ev.event) }}</font></span></li>
                <li><font color="#ffffff">Paikka: </font><span style="float:right"><font color="#ffffff">{{ ev.event.place }}</font></span></li>
                <li><font color="#ffffff">Kuvaus: </font><span style="float:right"><font color="#ffffff">{{ ev.event.event.description}}</font></span></li>
                <li><font color="#ffffff">Aktiviteetit:</font>
                            <ul>
                            <li ng-repeat="a in ev.event.activities track by $index"><a href="#activityDetails" ng-click="ev.getActivity($index)"><font color="#ffffff">{{a.name}}      </font></a></li>
                            </ul>
                    <h3><a href="#activityPerformances" ng-click="ev.getUsers()"><font color="#ffffff"Lisää suoritteita</a></h3>
                        </li>
                
                    <li>
                     Kommentit:
                    <ul>
                    <li ng-repeat="x in ev.event.comments track by $index"><font color="#ffffff"> {{x.comment}} </font>                   
                    
                    </li>
                    </ul>
        </div>

                <div class="panel" title="Tapahtumat" id="events" data-tab="tab1" data-footer="none">
                    <ul class="list">
                        <li ng-repeat="x in ev.events track by $index"><a href="#details" ng-click="ev.getDetails($index)">{{ev.concat(x.event.name, ev.getDateTime(x))}}</a></li>
                    </ul>
                </div>
                        
                <div class="panel" title="Merkki" id="badge">
                </div>

                <div class="panel" title="Lisää suoritteita" id="activityPerformances">
                    <form ng-submit="ev.submit()">
                        <br>
                        <h2> Suoritusten lisääminen ryhmäläisille </h2> 

                        <label for="selectedActivity">Valitse aktiviteetti: </label><br>

                        <select ng-model="ev.form.activity">
                            <option ng-repeat="a in ev.event.activities" value="{{a.id}}">{{a.name}}</option>
                        </select>


                        <div class="input-group">

                            <span ng-repeat="user in ev.users track by $index">
                                <input ng-model="ev.form.user[user.id]" type="checkbox" name="usr" id="{{user.id}}" value="{{user.id}}" style="float:right">  <label for="{{user.id}}"> {{user.firstname + " " + user.lastname}}</label>
                            </span>
                        </div>
                        
                            <input type="submit" class="button" value="Merkitse suoritetuksi" style="float:left">
<!--                        <button class="button" onclick="ev.submit()" value="Merkitse suoritetuksi" style="float:left">-->
                    </form>


                </div>

            <div class="panel" title="Yksityiskohdat" id="activityDetails">
                <br>
                <h2>{{ev.activity.title }}</h2>
                <ul class="list inset">
                    <li>Ryhmäkoko: <span style="float:right">{{ ev.activity.ryhmakoko }}</span></li>
                    <li>Paikka: <span style="float:right">{{ ev.activity.paikka }}</span></li>
                    <li>Pakollisuus: <span style="float:right">{{ ev.activity.pakollisuus }}</span></li>
                    <li>Suorituksen kesto: <span style="float:right">{{ ev.activity.suoritus_kesto }}</li> 
                    <li>
                        Kommentit:
                        <ul>
                        <li ng-repeat="x in ev.activity.comments track by $index"> <p> {{x.comment}}                     
                        </p>
                        </li>
                        </ul>
                    </li>
                    <li>Kuvaus: <br><br><span>{{ ev.activity.content }}</span></li>
                </ul>
                </div>

     </div>
            <footer>
                <a href="#badges" class="icon home" ng-click="ev.getUserActivities()"></a>
            </footer>

        </div>
    </div>
</div>
<script>
            $(function() {
            FastClick.attach(document.body);
            });
</script>
</body>

</html>
